@charset "utf-8";
/* CSS Document */

*{margin:0;padding:0;}
.margin{width:1199px;margin:0 auto;}
html,body{width:1423px;}

header #top img{display:block;width:100%;height:90px;}
header #bottom{width:100%;height:30px;background:#f5f5f5}
header #bottom .left{float:left;}
header #bottom .left li{float:left;margin-right:15px;}
header #bottom .right{float:right;position:relative;}
header #bottom .right .my{display:none;}
header #bottom .right .my li{float:left;position:abslute;}
header #bottom .right li{float:left;margin:0 10px;}
header #bottom a{font:12px/30px "";}

nav{height:156px;border-bottom:2px solid #1a9733;}
nav #top{position:relative;}
nav #top img{position:absolute;top:16px;}
nav #top .top{position:absolute;left:349px;top:30px;}
nav #top .top #txt{text-indent:2em;border:2px solid #1a9733;width:410px;height:36px;background:url("../img/2.jpg") no-repeat;}
nav #top .top #btn{border:0;background:#1a9733;font:12px/40px "";width:88px;vertical-align:top;color:#fff;cursor:pointer;}
nav #top #search{position:absolute;left:348px;top:79px;}
nav #top #search span{font:12px/18px "";color:#999;}
nav #bottom{position:relative;}
nav #bottom .all{width:240px;height:40px;background:#1a9733;position:absolute;top:116px;font:12px/40px "";color:#fff;text-indent:19px;}
nav #bottom .all img{position:absolute;left:213px;top:13px;}
nav #bottom ul{position:absolute;left:240px;top:116px;}
nav #bottom ul li{float:left;font:15px/40px "";color:#333;margin:0 20px;}
nav #bottom ul li:hover{border-bottom:2px solid #1a9733;}

#xleft{position:fixed;left:0;top:300px;}
#xleft ul{width:50px;height:200px;background:#999;}
#xleft ul li{font:16px/50px "";text-align:center;color:#fff;}
#xleft ul li.li1{width:50px;height:50px;background:yellowgreen;border:1px solid #fff;}
#xleft ul li.li2{width:50px;height:50px;background:pink;border:1px solid #fff;}
#xleft ul li.li3{width:50px;height:50px;background:lightgreen;border:1px solid #fff;}
#xleft ul li.li4{width:50px;height:50px;background:deepskyblue;border:1px solid #fff;} 

#banner{height:731px;position:relative;}
#banner .cd{position:absolute;width:239px;height:489px;background:#000;font:14px/38px "";color:#fff;text-indent:27px;}
#banner .cd ul li dl{display:none;}
#banner .cd ul li:hover{background:#1a9733;cursor:pointer;}
#banner .cd ul li:hover dl{display:block;}
#banner .cd dl{display:block;position:absolute;left:239px;z-index:1;background:#fff;width:552px;height:489px;top:0;}
#banner .cd dl .a{position:absolute;top:30px;}
#banner .cd dl .b{position:absolute;left:130px;top:30px;}
#banner .cd dl .c{position:absolute;top:160px;}
#banner .cd dl .d{position:absolute;left:330px;top:30px;}
#banner .cd dl dt{color:#1a9733;}
#banner .cd dl dd{color:#000;font:14px/20px "";}
#banner .imgbox{height:488px;width:960px;position:absolute;left:239px;overflow:hidden;}
#banner .imgbox img{width:960px;height:488px;left:960px;top:0;position:absolute;}
#banner .imgbox img:nth-child(1){left:0;}
#banner .imgbox .btns input{width: 40px;height: 40px;border: none;background: rgba(200,200,200,0.6);top:130px;position: absolute;}
#banner .imgbox #left{left: 0;top:220px;}
#banner .imgbox #right{right: 0;top:220px;}
#banner .bk{height:489px;}
#banner .bottom{width:1200px;height:240px;margin:20px 0;}

#area{width:1199px;height:901px;}
#area .advance{height:310px;display:flex;}
#area .advance .left .s1{font:20px/35px "";color:#444;margin-top:8px;}
#area .advance .left .s2{font:12px/3 "";color:#999;margin-left:21px;}
#area .advance .left a{font:12px/38px "";color:#666;margin-left:25px;}
#area .advance .left .img{width:956px;height:246px;border-bottom:1px solid #eee;border-top:1px solid #1a9733;display:flex;}
#area .advance .left .img1{border-left:1px solid #eee;}
#area .advance .left .img .img1 .z1{width:125px;padding-left:54px;}
#area .advance .left .img h2{font:12px/22px "";color:#666;}
#area .advance .left .img span{font:13px/27px "";color:#e4462c;}
#area .advance .left .img del{text-decoration:line-through;font:9px/17px "";color:#666;}
#area .advance .left .img img{width:140px;height:140px;padding:13px 49px;}
#area .advance .right{width:242px;height:287px;border:1px solid #eee;margin-top:6px;}
#area .advance .right .top{border-bottom:1px solid #1a9733;height:40px;}
#area .advance .right .top span{font:16px/40px "";color:#1a9733;padding-left:10px;}
#area .advance .right .top em{font:12px/38px "";color:#666;padding-left:124px;}
#area .advance .right .bottom{position:relative;}
#area .advance .right .bottom img{margin-top:23px;margin-left:23px;float:left;}
#area .advance .right .bottom h2{font:12px/22px "";color:#333;padding-top:21px;padding-left:74px;}
#area .advance .right .bottom span{display:block;font:9px/17px "";color:#999;padding-left:74px;}
#area .advance .right .bottom h1{font:15px/49px "";color:#333;padding-left:24px;padding-bottom:24px;}
#area .advance .right .bottom p{font:12px/27px "";color:#666;padding-left:23px;}
#area .special{height:591px;margin-top:10px;}
#area .special .s1{font:20px/35px "";color:#444;margin-top:8px;}
#area .special .s2{font:12px/3 "";color:#999;margin-left:21px;}
#area .special a{font:12px/38px "";color:#666;margin-left:25px;}
#area .special .box{float:right;}
#area .special .box ul{}
#area .special .box ul li{float:left;font:12px/33px "";color:#666;width:81px;text-align:center;border:1px solid #eee;}
#area .special .img{width:1199px;height:549px;}
#area .special .imgj .change{display:block;}
#area .special .imgj{display:none;width:1199px;height:549px;}
#area .special .imgj .i1{width:480px;height:248px;}
#area .special .imgj .i2{width:239px;height:248px;}
#area .special .imgj .i3{width:238px;height:124px;}
#area .special .imgj .img1{display:flex;border-top:1px solid #eee;}
#area .special .imgj .img2{display:flex;}

#area .special .img .i1{width:480px;height:248px;}
#area .special .img .i2{width:239px;height:248px;}
#area .special .img .i3{width:238px;height:124px;}
#area .special .img .img1{display:flex;border-top:1px solid #eee;}
#area .special .img .img2{display:flex;}

#floor .special1{height:591px;margin-top:10px;}
#floor .special1 .s1{font:20px/35px "";color:#444;margin-top:8px;}
#floor .special1 .s2{font:12px/3 "";color:#999;margin-left:21px;}
#floor .special1 a{font:12px/38px "";color:#666;margin-left:25px;}
#floor .special1 .box{float:right;}
#floor .special1 .box ul{}
#floor .special1 .box ul li{float:left;font:12px/33px "";color:#666;width:81px;text-align:center;border:1px solid #eee;border-bottom:1px solid #1a9733;}
#floor .special1 .box ul li.t{border:1px solid #1a9733;border-bottom:none;}
#floor .special1 .img{width:1199px;height:549px;}
#floor .special1 .img .i1{width:480px;height:248px;}
#floor .special1 .img .i2{width:239px;height:248px;}
#floor .special1 .img .i3{width:238px;height:124px;}
#floor .special1 .img .img1{display:flex;}
#floor .special1 .img .img2{display:flex;}
#floor .special2{height:591px;margin-top:10px;}
#floor .special2 .s1{font:20px/35px "";color:#444;margin-top:8px;}
#floor .special2 .s2{font:12px/3 "";color:#999;margin-left:21px;}
#floor .special2 a{font:12px/38px "";color:#666;margin-left:25px;}
#floor .special2 .box{float:right;}
#floor .special2 .box ul{}
#floor .special2 .box ul li{float:left;font:12px/33px "";color:#666;width:81px;text-align:center;border:1px solid #eee;border-bottom:1px solid #1a9733;}
#floor .special2 .box ul li.t{border:1px solid #1a9733;border-bottom:none;}
#floor .special2 .img{width:1199px;height:549px;}
#floor .special2 .img .i1{width:480px;height:248px;}
#floor .special2 .img .i2{width:239px;height:248px;}
#floor .special2 .img .i3{width:238px;height:124px;}
#floor .special2 .img .img1{display:flex;}
#floor .special2 .img .img2{display:flex;}


footer{}
footer .b1{display:flex;border-bottom:1px solid #eee;border-top:1px solid #eee;height:98px;}
footer .b1 h2{font:17px/29px "";color:#444;margin-left:57px;}
footer .b1 span{font:12px/28px "";color:#999;margin-left:40px;}
footer .b1 .b11{flex:1;margin:auto 0;}
footer .b1 .b12{flex:1;margin:auto 0;}
footer .b1 .b13{flex:1;margin:auto 0;}
footer .b1 .b14{flex:1;margin:auto 0;}
footer .b1 img{float:left;margin:auto 0;}
footer .b2{display:flex;height:274px;border-bottom:1px solid #eee;}
footer .b2 dl{margin-top:24px;margin-right:105px;}
footer .b2 dl dt{font:15px/29px "";color:#1a9733;}
footer .b2 dl dd{font:12px/2 "";color:#666;}
footer .b3{height:107px;margin-top:21px;}
footer .b3 span{font:12px/26px "";color:#666;margin-right:18px;}
footer .b4{height:196px;}
footer .b4 .cont{text-align:center;}
footer .b4 .cont h2{font:12px/2 "";color:#666;}
footer .b4 .i{text-align:center;margin-top:24px;}